<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="methods" data-provider-thread-count="3">
    
    <test name="Login Tests">
        <classes>
            <class name="runners.CucumberTestRunner"/>
        </classes>
    </test>

</suite>
